mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  background: transparent;
  color: rgba(0,0,0,.87);
  border-radius: 10px;
  width: 60%;
  margin: 15vh auto;
}

mat-card-title{
  text-align: center;
  color: blueviolet;
}

mat-card button {
  margin: auto;
}
